#form-div
	= simple_form_for @pinned_post do |f|
		.form-inputs
			= f.text_area :content, :placeholder => 'Napisz treść posta...'		
			= f.submit 'Dodaj'
	%div#hint
		%p Dodany przez Ciebie post będzie widoczny dla wszystkich użytkowników przez 24 godziny.