- if @pinned_post.now - @pinned_post.created_at < 86400 
	%div#pinned-post
		%div.post
			= image_tag @pinned_post.author_avatar, :class => 'post-avatar'
			%div.content
				%div.author-name
					= @pinned_post.author
				%div.post-content
					%p= @pinned_post.content