- if @pinned_post.try(:now) - @pinned_post.try(:created_at) < 86400 
	%div#pinned-post
		%div.post
			= image_tag @pinned_post.author_avatar, :class => 'post-avatar', :data => {:link => user_path(@pinned_post.user_id)}
			%div.content
				%div.author-name
					= link_to @pinned_post.author, user_path(@pinned_post.user_id)
				%div.post-content
					%p= @pinned_post.content