%div#form-div
	= simple_form_for ([@post, @post.comments.build]) do |f|
		%div.form-inputs
			%div.avatar
				= image_tag current_user.user_avatar, :class => 'comment-avatar-thumb'
			%div.comment
				= f.text_field :content, :placeholder => "Write a comment..."	
				= f.submit 'Post'