%h1 Akcje						
%div#actions
	%div.action-button#add-dish{data: {link: new_dish_path}}
		= image_tag 'add_dish.svg'
		%h4 Dodaj potrawę
	%div.action-button{data: {link: new_user_path}}
		= image_tag 'add_user.svg'
		%h4 Dodaj użytkownika
	%div.action-button{data: {link: new_pinned_post_path}}
		= image_tag 'add_pinned_post.svg'
		%h4 Dodaj przypięty post
	%div.action-button
