%h1 Akcje
%div#actions
	%div.action-button#add-dish{data: {link: new_dish_path}}
		= image_tag 'add_dish.svg'
		%h4 Add Dish
	%div.action-button#add-user{data: {link: new_user_path}}
		= image_tag 'add_user.svg'
		%h4 Add User
	%div.action-button#add-pinnedpost{data: {link: new_pinned_post_path}}
		= image_tag 'add_pinned_post.svg'
		%h4 Add Pinned Post
