%div#income-today
	%div.buttons
		%div.button-income.active{alt: 'incometoday'} Income today
		%div.button-income{alt: 'income-per-employee'} Income per employee
		= render 'admin/income_today_total'
		= render 'admin/income_per_employee'
		