%div#income-today
	%div.buttons
		%div.button-income.active{:alt => 'incometoday'} Utarg dzisiaj
		%div.button-income{:alt => 'income-per-employee'} Utarg pracowników
		= render 'admin/income_today_total'
		= render 'admin/income_per_employee'
		