- if current_user.id == @user.id || current_user.admin? # showing chart only for the user that's logged in and admin
	%h2{:id => "orders-header"} Amount of Orders
	%div#orders-chart
		%canvas#barChart
		%hr/
		%div.income
			%h3 
				- if current_user.id == @user.id
					Your Daily Income:
					= user_income_today
					pln
				- else
					User's Daily Income:
					= user_income_today
					pln					

