- if current_user.id == @user.id || current_user.admin? # showing chart only for the user that's logged in and admin
	%h2{:id => "orders-header"} Ilość przyjmowanych zamówień
	%div#orders-chart
		%canvas#barChart
		%hr/
		%div.income
			%h3 
				- if current_user.id == @user.id
					Twój dzienny utarg:
					= user_income_today
					pln
				- else
					Dzienny utarg użytkownika:
					= user_income_today
					pln					

