- if current_user.admin?
  %h2{:id => "orders-header"} Amount of Orders
  %div#orders-chart
    %canvas#barChart
    %hr/
    %div.income
      %h3
        - if current_user.id == @user.id
          Your Daily Income:
          = @user.user_income_today(@user)
          pln
        - else
          User's Daily Income:
          = @user.user_income_today(@user)
          pln

