= content_for :title, "Arbejder | Lista pracowników"
%div#user-list
	- @users.each do |user|
		%div.user
			= image_tag user.user_avatar, :id => "avatar", :data => {:link => user_path(user)}
			%h3= user.name 






-# %table
-# 	%tr
-# 		%th Imię
-# 		%th Nazwisko
-# 		%th Adres e-mail
-# 	- @users.each do |user|
-# 		%tr{:class => "user-row", :data => {:link => user_path(user)}}
-# 			%td= user.first_name
-# 			%td= user.last_name
-# 			%td= user.email