- @userOrders.each do |order|
  %table
    %tbody
      %tr
        %th Danie
        %th Ilość
        - order.meals.each do |meal|
          %tr
            %td= meal.name
            %td= meal.quantity
            








