= content_for :title, "Arbejder | Orders" 


%div#charts
	%div#orders-all
		%canvas#pie-chart-all
	%div#orders-today
		%canvas#pie-chart-today 
	%div#orders-all-table
		= render 'orders/all_orders_table'					
	%div#orders-today-table
		= render 'orders/orders_today_table'
									