- @userOrders.each do |order|
  %table
    %tbody
      %tr
        %th Danie
        %th Ilość
        %th Cena
        - order.meals.each do |meal|
          %tr
            %td= meal.name
            %td= 1
            %td= meal.price








-# %table
-#   %tbody
-#     %th
-#       %td Lp.
-#       %td Danie
-#       %td Ilość
-#   - @userOrders.each do |order|
-#     - order.meals.each do |meal|
-#       %tr
-#         %td= order.id
-#         %td= meal.name
-#         %td= meal.price
