= content_for :title, "Arbejder | Lista posiłków" 
%table
  %tr
    %th Nazwa
    %th Rodzaj dania
    %th Cena
    - @meals.each do |meal|
      %tr
        %td= meal.name
        %td= meal.mealkind
        %td= meal.price
