= content_for :title, "Arbejder | Dish List" 
%table
  %tr
    %th Name
    %th Type
    %th Price
    - @meals.each do |meal|
      %tr
        %td= meal.name
        %td= meal.mealkind
        %td= meal.price
