%div#form-div
	= simple_form_for @post do |f|
		%div#regular-post-form
			%div.form-inputs
				= f.text_area :content, :placeholder => "Write post...", :id => "post-content"
			%div#post-button
				= f.submit 'Post', :id => "submit-post"
