@mixin display($display, $justify, $align, $wrap, $direction) {
  display: $display;
  justify-content: $justify;
  align-content: $align;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin container($padding, $width, $max-width, $min-width, $margin, $bgcolor, $shadow) {
	padding: $padding;
	width: $width;
	max-width: $max-width;
	min-width: $min-width;
	margin: $margin;
	background-color: $bgcolor;
	box-shadow: $shadow;
}

@mixin button($fontsize, $fontweight, $border, $bgcolor, $color, $textdec, $padding, $cursor, $shadow) {
	font-size: $fontsize;
	font-weight: $fontweight;
	border: $border;
	background-color: $bgcolor;
	color: $color;
	text-decoration: $textdec;
	padding: $padding;
	&:hover {
		cursor: $cursor;
		box-shadow: $shadow;
	}
}