// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';
@import 'variables';

#orders-chart {
	@include container(0, 900px, 900px, 750px, auto, rgba(255,255, 255,.5), 0 0 1px 1px rgba(0,0,0,.1));
	#buttons {
		@include display(flex, center, center, wrap, row);
		width: 100%;	
		margin-bottom: 20px;
		.button {
			@include display(flex, center, center, wrap, column);
			border-bottom: 1px solid rgba(0,0,0,.15);
			text-align: center;
			width: 33.3%;
			border-left: 1px solid rgba(0,0,0,.15);
			border-right: 1px solid rgba(0,0,0,.15);
			height: 50px;
			&:hover {
				cursor: pointer;
				background-image: linear-gradient(white 70%, rgba(0,0,0,.01) 100%)
			}
			&.active {
				font-weight: 400;
				border-bottom: none;
			}
			&:last-child {
				border-right: none;
			}
			&:first-child {
				border-left: none;
			}
			&:not(.active) {
				background-color: rgba(0,0,0,.009)
			}
		}
	}	
}

#actions {
	@include container(0, 900px, 900px, 750px, auto, rgba(255,255, 255,.5), 0 0 1px 1px rgba(0,0,0,.1));
	@include display(flex, center, center, wrap, row);
	.action-button {
		@include display(flex, center, center, wrap, column);
		width: 150px;
		padding: 10px;
		img {
			width: 50px;
			margin: auto;
			margin-top: 0;
			margin-bottom: 0;
		}
		h4 {
			margin-top: 10px;
			margin-bottom: 0;
			text-align: center;
		}
		&:hover {
			background-color: rgba(0,0,0,.009);
			cursor: pointer;
		}
	}
}


