// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';

#dishes {
	@include display(flex, center, center, wrap, row);
	min-height: 100vh;
	#dish-list,
	#dish-view {
		width: 50vw;
		#card {
			width: 90%;
			margin: auto;
			margin-top: 20px;
			min-height: 80%;
		}
	}
	#dish-list {
		table {
			min-width: 50%;
			margin: auto;
			margin-top: 50px;
			th.tableheader {
				text-align: center;
				background-color: #FFF;
			}
			a {
				text-decoration: none;
				color: #000;
			}
		}
	}
}

