// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';

#dishes {
	@include display(flex, center, center, wrap, row);
	min-height: 100vh;
	#dish-list,
	#dish-view {
		width: 50vw;
		#card {
			@include display(flex, flex-start, center, wrap, column);
			width: 90%;
			margin: auto;
			margin-top: 20px;
			padding: 35px;
			min-height: 80%;
			overflow: scroll;
			h1 {
				text-align: center;
				margin-top: 50px;
			}
			#dish {
				#dish-header {
					@include display(flex, space-between, center, wrap, column);
					img.meal-image {
						margin: auto;
						float: left;
						margin-bottom: 30px;
						border: 1px solid rgba(0,0,0,.05);
						box-shadow: 0 0 1px 1px rgba(0,0,0,.05);
					}
					#dish-name {
						h2 {
							display: inline-block;
							margin-top: 0;
							margin-bottom: 7px;
							word-wrap: break-word;
						}						
					}			
				}
			}
			p {
				text-align: justify;
				line-height: 1.7em;				
			}
			#buttons {
				@include display(flex, flex-end, center, wrap, row);
				a {
					text-decoration: none;
					padding: 10px;
					color: white;
					margin: 0 5px;
					&:active {
						transform: translate(1px, 1px);
					}	
				}				
				#edit-dish {					
					background: $nav-bg-color;											
				}
				#delete-dish {
					background: #ed2d4c;
				}
			}			
		}
	}
	#dish-list {		
		table {
			min-width: 70%;
			margin: auto;
			margin-top: 20px;
			th {
				padding-left: 0;
			}
			tr#last {

				&:hover {
					background-color: rgba(0,0,0,0);
				}
				td {
					text-align: right;
					padding-right: 5px;
				}
			}
			th.tableheader {
				text-align: center;
				background-color: #FFF;				
			}
			a {
				text-decoration: none;
				color: #000;
				&:hover {
					font-weight: 400;
				}
			}
		}
		a#add-dish {
			background-color: #3c992c;
			padding: 2px 8px;
			color: white;
			font-weight: 400;
			font-size: 1em;
			// border-radius: 100%;
			text-decoration: none;
		}		
	}
}

