// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

table {
  table:first-child {
    background-color: black;
  }
  border-collapse: collapse;
  border: none;
  td {
    padding: .5em 0;
  }
  tr:hover {
    background-color: white;
  }
}
