@import 'mixins';
@import 'variables';

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $nav-bg-color;
  height: 60px;
  max-height: 90px;
  @include display(flex, space-between, center, wrap, row);
  padding: 0 40px 0 0;
  #navbar {
    width: 100%;
    @include display(flex, space-between, center, no-wrap, row);
    min-width: 1050px;
  }
  #user-buttons {
    display: none;
    width: 100%;
    padding: 8px 0;
    a {
      text-decoration: none;
      margin: 10px;
    }
  }
  a, p, h2 {
    align-self: center;
    color: $color1;
  }
  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-self: center;
    margin: 0 10px;

    &:hover {
     box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
     cursor: pointer;
    }
  }
  .nav-left {
    @include display(flex, center, center, wrap, row);
    a {
      text-decoration: none;
      color: $color1;
    }
    #home {
      width: 60px;
      img {
        border-radius: 0;
        width: 35px;        
        &:hover {
          box-shadow: none;
        }
      }
    }
    #avatar-div {
      margin: 0 10px;
      @include display(flex, center, center, wrap, column);
      &:hover {
        background-color: rgba(0,0,0,.15)
      }
    }
  }
  .login-buttons {
    @include display(flex, center, center, wrap, row);
    a {
      text-decoration: none;
    }
  }
  .navbutton {
    @include display(flex, center, center, wrap, row);
    padding: 0 10px;
    &:hover {
      cursor: pointer;
      background-color: #0e8acc;
    }
    img {
      border-radius: 0;
      width: 20px;
      height: auto;
      &:hover {
        box-shadow: none;
      }
    }
  }  
  form {
    @include display(flex, center, center, wrap, column);
    input {
      height: 50%;
      align-self: center;
      border: none;
      border-radius: 2px;
      min-width: 250px;
      padding: 8px;
      font-family: "Lato", sans-serif;
      font-size: 1em;
      padding: 8px;
      font-weight: 300;
      box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
      margin: auto;
      &:focus {
        outline: none;
        border-bottom: 2px solid rgba(27, 157, 226, 0.7);
    }
  }
  }
}


// DROPDOWN MENU
