@import 'mixins';
@import 'variables';

.nav {
  background-color: $nav-bg-color;
  min-height: 6vh;
  @include display(flex, space-between, center, wrap, row);
  padding: 0 40px;
  border-bottom: 1px solid $color1;
  a, p, h2 {
    align-self: center;
  }
  img {
    border-radius: 50%;
    height: 50px;
    align-self: center;
    margin: 0 10px;

    &:hover {
     box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
     cursor: pointer;
    }
  }
  .nav-left {
    @include display(flex, center, center, wrap, row);
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .login-buttons {
    @include display(flex, center, center, wrap, row);
    a {
      padding: 0 10px;
      text-decoration: none;
    }
  }
}
