// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';

body[class="orders"] {

		#orders-chart {
				@include display(flex, center, flex-start, wrap, row);
				width: 900px;
				max-width: 900px;
				min-width: 750px;
				margin: auto;
				background-color: rgba(255,255, 255,.5);
				box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
				padding: 15px;
			}

	
}
body[class='orders index'] {
		@include display(flex, center, center, wrap, row);

		#orders {
			@include display(flex, center, center, wrap, row);
			padding: 0 50px;
			width: 100%;
			#orders-list {
				width: 40%;
				@include display(flex, flex-start, flex-start, wrap, row);
				align-items: flex-start;
				background-color: rgba(255,255, 255,.5);
				box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
				padding: 15px;	
				margin-right: 20px;
				max-height: 89vh;
				overflow: scroll;
			}	
			#chart {
				@include display(flex, center, flex-start, wrap, row);
				width: 40%;
				background-color: rgba(255,255, 255,.5);
				box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
				padding: 15px;
				margin-left: 20px;
			}
			#stats {
				border-top: 1px solid rgba(0,0,0,.05);
				padding: 10px 10px;
				margin-top: 10px;
				width: 100%;
				p {
					display: inline-block;
					font-weight: 300;
				}
			}
		}


		// Index



		#charts {
			width: 90%;
			margin: auto;
			@include display(flex, center, flex-start, wrap, row);
			div {
				width: 40%;
				height: 400px;
				margin: auto;
				background-color: rgba(255,255, 255,.5);
				box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
				padding: 15px;
				margin: 0 30px;		
			}
			#orders-all-table,
			#orders-today-table {
				overflow: scroll;
				margin-top: 20px;
				@include display(flex, flex-start, center, no-wrap, column);
				table {
					min-width: 80%;
					max-width: 80%;
					th.order-date {
						font-size: .7em;
						font-weight: 300;
					}
					th.totalprice {
						text-align: right;
					}
					tr {
						.quantity {
							margin: auto;
							text-align: center;
						}
						&:last-child {
							border-top: 1px dashed rgba(0,0,0,.1);
						}
						td {
							margin: 0 10px;
							&.price {
								text-align: center;
							}
						}
					}
				}				
			}
		}
	}