// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';



#orders {
	@include display(flex, center, center, wrap, row);
	padding: 0 50px;
	width: 100%;
	#orders-list {
		width: 40%;
		@include display(flex, flex-start, flex-start, wrap, row);
		align-items: flex-start;
		background-color: rgba(255,255, 255,.5);
		box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
		padding: 15px;	
		margin-right: 20px;
		max-height: 89vh;
		overflow: scroll;
	}	
	#chart {
		@include display(flex, center, flex-start, wrap, row);
		width: 40%;
		background-color: rgba(255,255, 255,.5);
		box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
		padding: 15px;
		margin-left: 20px;
	}
	#stats {
		border-top: 1px solid rgba(0,0,0,.2);
		padding: 10px 10px;
		margin-top: 10px;
		width: 100%;
		p {
			display: inline-block;
			font-weight: 300;
		}
	}
}
