// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';
@import 'variables';


body.users,
body.admin {

	/* USERS LIST */

	h1 {
		text-align: center;
	}

	.user-list {
		@include display(flex, flex-start, flex-start, wrap, row);
		align-items: flex-start;
		max-width: 900px;
		width: 900px;
		min-width: 750px;
		background-color: rgba(255,255, 255,.5);
		box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
		padding: 15px;
		margin: auto;
		margin-bottom: 50px;

		.user-thumb {
			width: 25%;
			padding: 10px;
			@include display(flex, center, flex-start, wrap, column);
			.avatar {
				width: auto;
				margin: auto;
				&:hover {
					cursor: pointer;
				}
			}
			#admin-buttons {
				@include display(flex, center, center, wrap, row);
				font-size: 0.8em;
				&> * {
					margin: 0 3px;
					padding: 2px 3px;
				}
				#delete-link {
					color: red;
					&:hover {
						color: white;
						background-color: red;
					}
				}
			}
			.username {
				@include display(flex, center, center, wrap, row);
				margin-top: 10px;
				img {
					margin-right: 7px;
				}
			}
			a {
				text-align: center;
				display: inline-block;
				font-weight: 400;
				text-decoration: none;
				color: #333;
			}
			&:hover {
				background-color: rgba(0,0,0,.015);
				cursor: pointer;
			}
			.admin-tag {
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 3px;
			}
		}
	}


	.user-row {
		cursor: pointer;
	}


	/* USER DISPLAY SCREEN */

	.user {
		position: relative;
		@include display(flex, center, flex-start, wrap, row);
		max-width: 900px;
		width: 900px;
		min-width: 750px;
		margin: auto;
		background-color: rgba(255,255, 255,.5);
		box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
		padding: 15px;
		.avatar {
			margin: 0 20px;
		}
		#personal-info {
			@include display(flex, flex-start, flex-start, no-wrap, row);
			width: 100%;
			h1 {
				margin: 0;
				text-align: left;
			}
			h3 {
				font-weight: 300;
			}
			.name-info {
				@include display(flex, flex-start, flex-start, wrap, column);
				margin-right: 40px;
				padding-right: 40px;
				border-right: 1px solid #333;
				width: 50%;
				.description {
					line-height: 1.5;
					font-size: 1em;
					text-align: justify;
					p {
						margin-top: 10px;
					}
				}
			}
			.contact-info {
		    a {
		      text-decoration: none;
		      color: inherit;
		      min-width: 300px;
		    }
				@include display(flex, center, center, wrap, column);
				.contact-row {
					@include display(flex, flex-start, center, no-wrap, row);
					margin: 12px 0;
				}
				h2 {
					display: inline-block;
					font-weight: 300;
					font-size: .9em;
					margin: 0 4px;
				}
					.contact-image {
						height: 20px;
						display: inline-block;
				}
				.contact-pic {
					width: 30px;
					margin-right: 10px;
					@include display(flex, center, center, wrap, row);
				}
			}
		}
		#settings {
			position: absolute;
			bottom: 2px;
			right: 4px;
			z-index: 1;
			&:hover {
				cursor: pointer;
			}
			img {
				cursor: pointer;
			}
		}
	}


}

