<p>Witaj <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
	<p>Odebraliśmy żądanie zresetowania Twojego hasła. Możesz to zrobić klikając w poniższy link.</p>
<% else %>
  <p>Twój email został zmieniony na: <%= @resource.email %>.</p>
<% end %>
